{%extends "base.html"%}
{%block title%}Homepage{%endblock title%}

{%block content%}

{%if user%}
<h1>Welcome {{user.name}}</h1>
<h2>Inbox</h2>
    {%for msg in messages%}
    <p>{{msg.s.name}}</p>
    <p>{{msg.message}}</p>
    <button><a href="/delete/{{msg.id}}">Delete</a></button>
    {%endfor%}
{%else%}
<h1>Sign Up</h1>
<h4>{{sign_error}}</h4>
<form action="/signup" method="post">
    <input type="text" name="user-name" placeholder="Enter your username" required>
    <input type="password" name="user-password" placeholder="Enter a password" required>
    <input type="password" name="user-password-confirm" placeholder="Confirm your password" required>
    <button>Submit</button>
</form>

<h1>Login</h1>
<h4>{{login_error}}</h4>
<form action="/login" method="post">
    <input type="text" name="user-name" placeholder="Enter your username">
    <input type="password" name="user-password" placeholder="Enter your password">
    <button>Submit</button>
</form>
{%endif%}
{%endblock content%}